<%- include("partials/header.ejs") %>

<!-- Body Section-->
<body>
  <div class = "content">
        <div class="p-5 text-center">
          <div class="container py-5">
            <h1 class="text-body-emphasis serif">Reflection Oasis</h1>
            <p class="col-lg-8 mx-auto lead">Pour out the things not said.</p>
          </div>


          <div class ="container">
            <div class="row">
              <% posts.forEach((post, index) => { %>
                <div class="col-md-4">
                  <div class = "card mb-4 shadow-sm h-500 border">
                    <div class ="card-body">
                      <h2 class="card-title serif"><%= post.title %></a></h2>  
                      <p class="space"><%= post.content.substring(0,300) %>....</p>
                      <a href="/post/<%= post.id %>">Read more</a>
                    </div>
                </div>
              </div>
              <% }); %>
            </div>
          </div>
        </div>
    </div>

</body>


<%- include("partials/footer.ejs") %>